#navigatiebalk {
  display: inline;
}

#navigatiebalk {
  float: left;
}

#navigatiebalk {
  display: block;
  padding: 8px;
  background-color: #818181;
}

#navigatieUl {
  background-color: #818181;
}

#navigatieUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #818181;
}

#navigatiebalk {
  float: left;
}

#navigatiebalk a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#navigatiebalk a:hover {
  background-color: #6b6b6b;
}

.active {
  background-color: #6b6b6b;
}


#navigatieUl {
  position: fixed;
  top: 0;
  width: 100%;
}



#navigatiebalk {
  border-right: 1px solid white;
}

#navigatiebalk:last-child {
  border-right: none;
}

